<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<body>

	<div th:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md border"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempora dignissimos eius quasi a rerum quidem cumque aliquid, earum illo quam minus itaque, accusantium voluptates velit, veniam tempore inventore consectetur.
Corporis incidunt cupiditate labore. Veniam, dignissimos. Laudantium, ullam? Id nostrum quo itaque dolor ea facere corporis dignissimos accusamus dicta? Hic exercitationem ipsam dignissimos debitis recusandae voluptatem velit libero iste amet.
Aspernatur sint dignissimos non expedita iste molestias sequi tenetur deleniti. Iusto optio facilis, nemo, dolore recusandae ipsa qui, nobis inventore sed in mollitia distinctio reiciendis sapiente rerum illo id? Impedit.</p></div>
				<div class="col-md border"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempora dignissimos eius quasi a rerum quidem cumque aliquid, earum illo quam minus itaque, accusantium voluptates velit, veniam tempore inventore consectetur.
Corporis incidunt cupiditate labore. Veniam, dignissimos. Laudantium, ullam? Id nostrum quo itaque dolor ea facere corporis dignissimos accusamus dicta? Hic exercitationem ipsam dignissimos debitis recusandae voluptatem velit libero iste amet.
Aspernatur sint dignissimos non expedita iste molestias sequi tenetur deleniti. Iusto optio facilis, nemo, dolore recusandae ipsa qui, nobis inventore sed in mollitia distinctio reiciendis sapiente rerum illo id? Impedit.</p></div>
				<div class="col-md border"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempora dignissimos eius quasi a rerum quidem cumque aliquid, earum illo quam minus itaque, accusantium voluptates velit, veniam tempore inventore consectetur.
Corporis incidunt cupiditate labore. Veniam, dignissimos. Laudantium, ullam? Id nostrum quo itaque dolor ea facere corporis dignissimos accusamus dicta? Hic exercitationem ipsam dignissimos debitis recusandae voluptatem velit libero iste amet.
Aspernatur sint dignissimos non expedita iste molestias sequi tenetur deleniti. Iusto optio facilis, nemo, dolore recusandae ipsa qui, nobis inventore sed in mollitia distinctio reiciendis sapiente rerum illo id? Impedit.</p></div>
			</div>
		</div>

	</div>

</body>
</html>